h1 {color: black;
    font-family: Futura;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 0.2em;
    padding: 0.2em;}
h2 {color: black;
    font-size: 30px;
    font-family: Futura;
    text-transform: uppercase;}
p {color: black;}
body {background-color: White;}
li {font-family: Helvetica;
    font-size: 20px;}
ul.nav {text-align: center;
        font-family: Futura;
        padding-left: 0;
        margin: 10 auto;
        font-size: 30px;}
ul.nav li {display: inline;
          padding-left: 0 0.25em;
          margin: 0 0 0.25em;}
head {background-color: WhiteSmoke;}
