h1 {color: black;
    font-family: Futura;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 100px;
    padding: 5px;}
h2 {color: solid red;
    font-size: 30px;
    font-family: Futura;
    text-transform: uppercase;}
p {color: black;}
body {background-color: silver;}
