h1 {color: black;
    font-family: Futura;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    margin: 30px;
    padding: 5px;}
h2 {color: black;
    font-size: 30px;
    font-family: Futura;
    text-transform: uppercase;}
p {color: black;}
body {background-color: WhiteSmoke;}
li {font-family: Helvetica;
    font-size: 20px;}
ul.nav {text-align: center;
        font-family: Futura;
        margin: 10 auto;
        font-size: 30px;}
ul.nav li {display: inline;
          padding: 0 0,25em;}
